@font-face {
   font-family: Gordita;
   src: url(../fonts/gordita.woff);
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 

*{
    font-family: Gordita, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: #31343B;
}

body{
    margin: 0px;
    background-color: #557CF2;
}

#all{
    width: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title-area{
    width: 100%;
    font-weight: bold;
}

#boxLogin{
    width: 750px;
    background-color: #F7FAFF;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
}

#inputs-box{
    padding: 40px 40px 80px 40px;
    background-color: white;
    transition: 0.2s;
}

#inputs-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-area{
    padding: 0px 0px 40px;
}

.form-group{
    width: 70%;
    margin: 15px 0px;
}

.inputs{
    width: 100%;
    padding: 10px 0px 10px 5px;
    border-radius: 10px;
    border: none;
    border: #31343B 2px solid;
}

/* .inputs::out */

.label-input{
    outline: none;
    font-weight: bold;
    color: #31343B;
}

#button-form{
    width: 70%;
}

#button-form button{
    width: 100% !important;
    padding: 10px 0px 10px 5px;
}

#button-login-github-a{
    text-decoration: none;
    
}

#button-submit{
    margin-bottom: 15px;
}

#button-login-github-a:visited{
    color: white;
}

#button-login-github{
    background-color: #333333;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: .25rem;
}

#icon-btn-github, #button-login-github-text{
    color: white;
}

#icon-btn-github{
    font-size: 28px;
}

#button-login-github-text{
    margin-left: 10px;
}

#button-login-github-icon{
    margin: 0px 10px;
}

.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
}

.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: rem;
    color: rgb(124, 124, 124);
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-bg{
    width: 100%;
    background-color: rgba(2, 2, 2, 0.7);
    position: fixed;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-text{
    color: white;
    font-size: 30px;
}

#spinner-loading{
    display: flex;
    justify-content: center;
}
